html {
    font-family: Arial;
}

a {
    font-weight: bold;
    background-color: white;
    text-decoration: none;
    color: black;
    outline: 2px black solid;
}

button {
    background-color: white;
    text-decoration: none;
    color: black;
    outline: 0.7px black solid;
}

.foot {
    clear: both;
}

.main {
    margin-top: 10%;
    background-color: lightblue;
    padding-top: 5px;
    width: 50%;
    outline: 10px blue double;
}

.inMain {
    width: 80%;
    background: none;
    background-color: white;
    outline: 10px blue double;
}

.container {
    width: 200px;
    height: 50px;
    margin: 10px;
}

.lpanel {
    float: left;
    width: 50%;
    text-align: left;
}

.rpanel {
    float: right;
    width: 50%;
    text-align: center;
}

.navPanel {
    text-align: center;
    outline: solid magenta 2px;
    float: left;
    width: 20%;
}

.collapse {
    display: none
}
