html{
    font-family: Arial;
}
a{
    font-weight:bold;
    background-color:white;
    text-decoration: none;
    color: black;
    outline: 2px black solid;
}
.foot{
    clear: both;
}
.main{
    padding-top: 5px;
    width: 50%;
    background: none;
    background-color: white;
    box-shadow: 2px black solid;
    outline: 10px blue double;
}

.inMain{
    width: 80%;
    background: none;
    background-color: white;
    box-shadow: 2px black;
    outline: 10px blue double;
}
.container{
    width: 200px;
    height: 50px;
    margin: 10px;
}
.lpanel{
    float:left;
    width:50%;
    text-align:left;
}
.rpanel {
    float: right;
    width: 50%;
    text-align: center;
}
.navPanel { 
    text-align:center;
    outline: solid magenta 2px;
    float: left;
    width: 18%;
}
.collapse {
    display: none
}